# Exposition port
PORT=7000

# URL to access the addon
BASE_URL=http://localhost:7000

# PostgreSQL database connection settings
DB_USER=your_user               # Username for PostgreSQL authentication
DB_HOST=your_host               # PostgreSQL server hostname or IP
DB_NAME=your_database           # Name of the database to connect to
DB_PASSWORD=your_password       # Password for the PostgreSQL user
DB_PORT=5432                    # Port number where PostgreSQL is running (default 5432)
DB_MAX_CONNECTIONS=20           # Maximum number of active connections allowed to the database
DB_IDLE_TIMEOUT=30000           # Time (in ms) to close idle database connections
DB_CONNECTION_TIMEOUT=2000      # Timeout (in ms) to establish a new database connection

# Redis cache configuration
REDIS_HOST=your_host            # Redis server hostname or IP
REDIS_PORT=6379                 # Port number where Redis is running (default 6379)
REDIS_PASSWORD=                 # Password for Redis authentication (if required)

# These credentials are required to interact with the Trakt API and access its services.
# To obtain these credentials:
# 1. Create an account on Trakt.tv (https://trakt.tv).
# 2. Go to the applications section (https://trakt.tv/oauth/applications).
# 3. Create a new application by filling in the required information (name, description, etc.).
#    - For the "Redirect URL", use the following format: BASE_URL + /callback (e.g., http://localhost:7000/callback).
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=

# Allows you to define the interval for synchronizing the Trakt watch history
# The value can be expressed in hours (h) or days (d)
# Default is '1d'
TRAKT_HISTORY_FETCH_INTERVAL=1d

# The number of pages to prefetch after the currently requested page
# Helps improve performance by anticipating future requests
# Default is '5'
PREFETCH_PAGE_COUNT=5

# Cache duration settings for different content types
# Default is '3' for both
CACHE_CATALOG_CONTENT_DURATION_DAYS=3
CACHE_POSTER_CONTENT_DURATION_DAYS=7

# Possible values are: info, debug
# Default is 'info' if not specified; 'debug' provides more detailed logs
LOG_LEVEL=info

# The value can be expressed in days (d), weeks (w), or months (M)
# For example, '3d' means that log files will be kept for 3 days before being deleted
# If LOG_INTERVAL_DELETION is not defined in the environment variables, the default value is '3d'
LOG_INTERVAL_DELETION=3d

# The environment in which the Node.js application is running
NODE_ENV=production
